<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand">Mr. D's Wire Art</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" onclick="location.href='mailto:MrDsWireArt@gmail.com?subject=Order%20enquiry&body=Hi%20Dan%2C%0D%0A%0D%0A(Please%20edit%20as%20required)%0D%0A%0D%0AI%E2%80%99m%20interested%20in%20commissioning%20the%20following%20pieces%3A%0D%0APiece%20Name%3A%20Fairy%201%0D%0ASize%3A%2050cm%0D%0A%0D%0APiece%20Name%3A%20Custom%0D%0ASize%3A%2030cm%0D%0ADescription%3A%20A%20sloth%20hanging%20from%20a%20branch%0D%0A%0D%0A';">
                    <i class="bi-cart-fill me-1"></i>
                    Make an order
                </button>
            </form>
        </div>
    </div>
</nav>
