<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a href="assets/dolphin.jpeg" ><img class="card-img-top" src="assets/resized_dolphin.png" alt="dolphin" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Dolphin</h5>
                        <!-- Product size-->
                        20cm
                        <!-- Product price-->
                        <br>
                        £80.00
                        <!--Stock-->
                        <br>
                        In stock
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a href="assets/elephant.jpeg" ><img class="card-img-top" src="assets/resized_elephant.png" alt="elephant" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Elephant</h5>
                        <!-- Product size-->
                        40cm
                        <!-- Product price-->
                        <br>
                        £115.00
                        <!--Stock-->
                        <br>
                        ETA: 3-4 weeks
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a href="assets/fairy_1.jpeg" ><img class="card-img-top" src="assets/resized_fairy_1.png" alt="fairy 1" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fairy 1</h5>
                        <!-- Product size-->
                        60cm
                        <!-- Product price-->
                        <br>
                        £100.00
                        <!--Stock-->
                        <br>
                        In stock
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a href="assets/fairy_2.jpeg" ><img class="card-img-top" src="assets/resized_fairy_2.png" alt="fairy 2" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fairy 2</h5>
                        <!-- Product size-->
                        60cm
                        <!-- Product price-->
                        <br>
                        £100.00
                        <!--Stock-->
                        <br>
                        In stock
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a href="assets/fairy_garden.jpeg" ><img class="card-img-top" src="assets/resized_fairy_garden.png" alt="fairy garden" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fairy Garden</h5>
                        <!-- Product size-->
                        40cm
                        <!-- Product price-->
                        <br>
                        £90.00
                        <!--Stock-->
                        <br>
                        ETA: 2 weeks
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a href="assets/peter_rabbit.jpeg" ><img class="card-img-top" src="assets/resized_peter_rabbit.png" alt="peter rabbit" /></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Peter Rabbit</h5>
                        <!-- Product size-->
                        60cm
                        <!-- Product price-->
                        <br>
                        £150.00
                        <!--Stock-->
                        <br>
                        ETA: 6 weeks
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
